{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
        <h1 class="text-center">
            Heat Map
        </h1>
    </div>

    <div class="row p-4">
        <div class="card m-auto" style="width: 90%;" data-aos="fade-left">
            <div class="card-body">
                <form id="form1" action="/heat" method="POST" enctype="multipart/form-data">
                    <label class="mr-sm-2" >Datasetname:</label>
                    <select id="dataset_name" name = "dataset_name">
                        <option value ="000">--Select please--</option>
                        <option value="15_year_smote_balancedataset">15_year_smote_balancedataset</option>

                    </select>

<!--                    <label class="mr-sm-2" >X:</label>-->
<!--                    <select id="x_label" name = "x_label" >-->
<!--                        <option value ="000">&#45;&#45;Select please&#45;&#45;</option>-->
<!--                    </select>-->

<!--                    <label class="mr-sm-2" >Y:</label>-->
<!--                    <select id="y_label" name = "y_label" >-->
<!--                         <option value ="000">&#45;&#45;Select please&#45;&#45;</option>-->
<!--                    </select>-->


                     <input id="file" type="file" name="dataset">
                     <input id= "submit" type="submit" class="btn btn-primary mt-1" value="Submit">
                </form>
<!--                <div id="hidden_table" style="display:none">-->
<!--                    <table id="data" class="table table-striped" >-->
<!--                        <thead>-->
<!--                          <tr>-->
<!--                            {% for head in heads %}-->
<!--                                <th>{{ head }}</th>-->
<!--                            {% endfor %}-->
<!--                          </tr>-->
<!--                        </thead>-->
<!--                        <tfoot>-->
<!--                            <tr>-->
<!--                                <td></td>-->
<!--                            </tr>-->
<!--	                    </tfoot>-->
<!--                        <tbody>-->
<!--                          {% for row in table %}-->
<!--                            <tr>-->
<!--                                {% for item in row %}-->
<!--                                    <td>{{ item }}</td>-->
<!--                                {% endfor %}-->
<!--                            </tr>-->
<!--                          {% endfor %}-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
                    <div id="chart1"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- plotly CDN -->

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">

            var graph1JSON =[];
            var graphs1 = {{ graph1JSON | safe }};
            Plotly.plot("chart1", graphs1,{})

            // var graphs2 = [];
            // var graphs2 = {{ graph2JSON | safe}};
            // if (graphs2 != undefined){
            // Plotly.plot("chart2", graphs2,{})}


        document.getElementById("show_table").addEventListener('click', function(){
            var hidden_table = document.getElementById("hidden_table")
            if (hidden_table.style.display === 'inline'){
                hidden_table.style.display = 'none';
            }else{
                $(document).ready(function () {
                    $('#data').DataTable({
                        "scrollX": true,
                    });
                }, false)
                document.getElementById("hidden_table").style.display='inline'
            }


            });
            document.getElementById("update_label").addEventListener("click", function() {

              var reader = new FileReader();
              reader.addEventListener('load', function() {

                var first_line_Arr = this.result.split('\n')[0].split(",");
                console.log(first_line_Arr);
                var x_select = document.getElementById("x_label");
                  removeOptions(x_select);

                var y_select = document.getElementById("y_label");
                removeOptions(y_select);
                for (var i=0;i<first_line_Arr.length;i++) {
                    var el = document.createElement("option");
                    el.textContent = first_line_Arr[i].replace(/(\r\n|\n|\r)/gm, "");
                    el.value = first_line_Arr[i].replace(/(\r\n|\n|\r)/gm, "");
                    x_select.appendChild(el);
                }
                for (var i=0;i<first_line_Arr.length;i++) {
                    var yl = document.createElement("option");
                    yl.textContent = first_line_Arr[i].replace(/(\r\n|\n|\r)/gm, "");
                    yl.value = first_line_Arr[i].replace(/(\r\n|\n|\r)/gm, "");
                    y_select.appendChild(yl);

                }

              });
              reader.readAsText(document.getElementById('file').files[0]);

            });
            function removeOptions(selectElement) {
               var i, L = selectElement.options.length - 1;
               for(i = L; i >= 0; i--) {
                  selectElement.remove(i);
            }
}


    </script>

{% endblock %}