<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">


    {% if title %}
        <title>DataVisualization-{{title}}</title>
    {% else %}
        <title>DataVisualization</title>
    {% endif %}

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ProjectW81XWH1910495</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">

                <div class="dropdown">
                  <button class="nav-link text-white btn btn-dark mt-2 mb-2">Dropdown</button>
                  <div class="dropdown-content">
                        <a href="/scatter">Scatter plot</a>
                        <a href="/trend">Line plot</a>
                        <a href="/threeD">3D plot</a>
                        <a href = "/auc">ROC_AUC</a>
                        <a href = "/wil">Wilcoxon Sign-Ranked Test</a>
                        <a href="/chi">Chi-Squared Test</a>
                        <a href="/fi">Feature importance</a>
                        <a href="/he">Heat Map</a>

                  </div>
                </div>
<!--                <ul class="navbar-nav ml-auto mb-2 mb-lg-0 ">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link text-white" href="/scatter">Scatter plot</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link text-white" href="/trend">Line plot</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link text-white" href="/threeD">3D plot</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link text-white" href="/auc">ROC_AUC</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link text-white" href="/wil">Wilcoxon Sign-Ranked Test</a>-->
<!--                    </li>-->

<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link text-white" href="/chi">Chi-Squared Test</a>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
        </div>
    </nav>

      <main>
          <div class="container">
              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xm-12">
                      <div class="ml-auto mr-auto">
                        {% block content %}
                        {% endblock %}
                      </div>
                  </div>
              </div>
          </div>
      </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<!--    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>-->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
<!--    <script>-->
<!--      // AOS.init({-->
<!--      //   offset: 400,-->
<!--      //   duration: 1000-->
<!--      // });-->

<!--    </script>-->
     <footer class="bg-dark text-white text-center text-lg-start footer">
              <!-- Grid container -->
              <div class="container p-4">
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
                    <p >Terms and Conditions</p>
                    <p>Privacy Policy</p>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <p>Contact:xij6@pitt.edu</p>
                    <p>Copyright © Jiang's AI Lab 2021 </p>
                      <p>Acknowledgement Text</p>

                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled">
                      <li>
                        <a href="#!" class="text-white">Link 1</a>
                      </li>
                        <li>
                        <a href="#!" class="text-white">Link 2</a>
                      </li>

                    </ul>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->
              </div>
              <!-- Grid container -->

        </footer>



</body>
</html>