{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
        <h1 class="text-center">
            Line Graph
        </h1>
    </div>

    <div class="row p-4">
        <div class="card m-auto" style="width: 90%;" data-aos="fade-left">
            <div class="card-body">
                <form id="form1" action="/chart2" method="POST" enctype="multipart/form-data">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Datasetname:</label>
                    <select id="dataset_name" name = "dataset_name">
                        {% if dataset_name %}
                            <option value = {{ dataset_name }}>{{ dataset_name }}</option>
                        {% else %}
                            <option value ="000">--Select please--</option>
                        {% endif %}
                        <option value ="000">--Select please--</option>
                        <option value="5I240_learningrate_s1_retrieve">5I240_learningrate_s1_retrieve</option>
                        <option value="5I240_learningrate_s2_retrieve">5I240_learningrate_s2_retrieve</option>
                        <option value="5I240_learningrate_s3_retrieve">5I240_learningrate_s3_retrieve</option>
                        <option value="5I240_learningrate_s4_retrieve">5I240_learningrate_s4_retrieve</option>
                        <option value="5I240_h4_merged_s1_retrieve">5I240_h4_merged_s1_retrieve</option>
                        <option value="5I240_h4_merged_s2_retrieve">5I240_h4_merged_s2_retrieve</option>
                        <option value="5I240_h4_merged_s3_retrieve">5I240_h4_merged_s3_retrieve</option>
                        <option value="5I240_h4_merged_s4_retrieve">5I240_h4_merged_s4_retrieve</option>
                        <option value="10I240_h4_merged_s1_retrieve">10I240_h4_merged_s1_retrieve</option>
                        <option value="10I240_h4_merged_s2_retrieve">10I240_h4_merged_s2_retrieve</option>
                        <option value="10I240_h4_merged_s3_retrieve">10I240_h4_merged_s3_retrieve</option>
                        <option value="10I240_h4_merged_s4_retrieve">10I240_h4_merged_s4_retrieve</option>
                        <option value="15I240_h4_merged_s1_retrieve">15I240_h4_merged_s1_retrieve</option>
                        <option value="15I240_h4_merged_s2_retrieve">15I240_h4_merged_s2_retrieve</option>
                        <option value="15I240_h4_merged_s3_retrieve">15I240_h4_merged_s3_retrieve</option>
                        <option value="15I240_h4_merged_s4_retrieve">15I240_h4_merged_s4_retrieve</option>
                    </select>
                    <label class="mr-sm-2" for="inlineFormCustomSelect">X:</label>
                    <select id="x_label" name = "x_label">
                        <option value ="000">--Select please--</option>
                        <option value="1">node number in hidden layer 1</option>
                        <option value="2">node number in hidden layer 2</option>
                        <option value="3">node number in hidden layer 3</option>
                        <option value="4">node number in hidden layer 4</option>
                        <option value="L1">L1</option>
                        <option value="L2">L2</option>
                        <option value="dec">dec</option>
                        <option value="drate">drate</option>
                        <option value="lrate">lrate</option>
                        <option value="momen">momen</option>
                        <option value="layer_number">layer_number</option>
                        <option value="batch_size">batch_size</option>
                        <option value="epochs">epochs</option>
                    </select>
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Y:</label>
                    <select id="y_label" name = "y_label">
                        <option value ="000">--Select please--</option>
                        <option value="mean_test_auc">mean_test_auc</option>
                        <option value="mean_train_auc">mean_train_auc</option>
                        <option value="percent_auc_diff">percent_auc_diff</option>
                         <option value="mean_test_auc and percent_auc_diff">mean_test_auc and percent_auc_diff</option>
                    </select>
                    <input type="submit" class="btn btn-primary mt-1" value="Submit">
                    <input type = "file" name = "dataset">

                </form>
                <div id="chart1"></div>
                <div id="chart2"></div>
                <p class="card-text">some explanations</p>
            </div>
            </div>
        </div>
<!--        <div class="site-header-logo">-->
<!--                <h1 class="text-center">-->
<!--                    Trend Graph-->
<!--                </h1>-->
<!--        </div>-->

<!--        <div class="card mb-4 m-auto" style="width: 90%;" data-aos="fade-left">-->
<!--            <div class="card-body">-->
<!--                <div id="chart2"></div>-->
<!--                <p class="card-text">some explanations</p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="site-header-logo">-->
<!--                <h1 class="text-center">-->
<!--                    3D Graph-->
<!--                </h1>-->
<!--        </div>-->

<!--        <div class="card mb-4 m-auto" style="width: 90%;" data-aos="slide-up">-->
<!--            <div class="card-body">-->
<!--                <div id="chart3"></div>-->
<!--                <p class="card-text">some explanations</p>-->
<!--            </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <!-- plotly CDN -->

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graphs1,{});
        if (graphs2 != "None" ){
            var graphs2 = {{ graph2JSON | safe}};
            Plotly.plot("chart2", graphs2,{});
        }
        //document.getElementById('dataset_name').value = "<?php echo $_POST['dataset_name'];?>";
        document.getElementById('x_label').value = "<?php echo $_POST['x_label'];?>";
        document.getElementById('y_label').value = "<?php echo $_POST['y_label'];?>";


        // var graphs2 = {{ graph2JSON | safe}};
        // Plotly.plot("chart2", graphs2,{});
        //
        // var graphs3 = {{ graph3JSON | safe}};
        // Plotly.plot("chart3", graphs3,{});
    </script>

{% endblock %}